*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'poppins',sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:35px 12%;
    background-color:black;
    height:3rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    margin-right: 50px;
}
.logo:hover{
    color:orangered;
    text-shadow: 0 0 25px orangered
                 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
}
.navbar a{
font-size: 25px;
color: white;
font-weight: 500;
margin:0 20px;
border-bottom: 3px solid transparent;
transition: 0.3s ease;
}
.navbar a:hover
{
color:orangered;
border-bottom: 3px solid orangered;
}
.navbar a:active{
    color:orangered;
    border-bottom: 3px solid orangered;
}    
.contact{
    padding:10px 28px;
    background-color: white;
    color:black;
    border:2px solid transparent;
    border-radius:8px;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition:0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color:white;
}
.home{
    width:100%;
    min-height:100vh;
    background:black;
    display:flex;
    align-items: center;
    gap:7em;
    padding:30px 12% 0;
    color: white;
}
.home-content{
    max-height:800px ;
}
.home-content h3{
    font-size:42px ;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 25px;
    margin:25px 0 30px;
    font-weight: 600;
}
.btn-box{
padding:15px 28px;
background-color: orangered;
color:white;
border:2px solid transparent;
border-radius: 40px;
font-size:18px ;
letter-spacing: 1px;
font-weight: 600;
width:50%;
transition: 0.3s ease;
cursor:pointer;
}
.btn-box:hover{
background-color:red;
color:white;
border:2px solid white;
}
.home-img img{
    width:550px;
    box-sizing: border-box;
    margin-right: 50px;
    border-radius: 50%;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: black;
    width:50px;
}
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10% 8%;
    gap:10em;
    background:black;
}
.about-img img{
    position: relative;
    width:550px ;
    border-radius: 50%;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
}
.about-content  h2{
    text-align: left;
    color:white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color:white;
}
.about-content p{
    color:white;
    font-size: 25px;
    margin:1.5em;
}
.footer{
    position: relative;
    bottom:0;
    width:100%;
    padding:40px 0;
    background-color: black;
    color:white;
    text-align: center;
}
.contact-me{
background:#101010 ;   
width: 100%;
padding:50px 0px;
box-sizing: border-box;
border: 3px solid white;

}
.contact-title{
    color:white;
    font-size: 70px;
    text-align: center;
    margin:30px auto;
    margin-top: 2rem;
    font-weight: 600;

}
.contact-para{
    text-align: center;
    color: white;
    font-size: 40px;
}
 .contact-icon a{
    color: white;
    font-size: 50px;
    width:40px;
    height: 40px;
    line-height:38px ;
    display: inline-block;
    text-align: center;
    margin:0 12px;
    position: relative;
    left:45%;
    margin-top:50px;
    font-weight: 600;
}
.contact-me button{
padding:15px 20px;
background-color: orangered;
color:white;
border:2px solid transparent;
border-radius: 40px;
font-size:18px ;
letter-spacing: 1px;
font-weight: 600;
margin-left:45%;
transition: 0.3s ease;
cursor:pointer;
margin-top: 2rem;
}
.contact-me button:hover{
background-color:white;
color:orangered;
border:2px solid rgb(190, 82, 43);

}
.skills{
    background-color: #101010;
    width:100%;
    padding:100px 0px;
}
.skills h2{
    color:white;
    font-size: 70px;
    width:1100px;
    margin:30px auto;
    text-align: center;
}
.box{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}
.card{
    height:400px;
    width:350px;
    background:#191919 ;
    border-radius:20px ;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border:2px solid white;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin:25px 0px;
    color:white;

}
h5{
color:orangered;
font-size: 30px;
margin-bottom:15px;
}
.para{
    color:white;
    margin-bottom:15px;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
}
.Education{
    background-color: #101010;
    width:100%;
    padding:100px 0px;
    color:white ;
    text-align: center;
}
.title {
    color:white;
    font-size: 70px;
    width:1100px;
    text-align: center;
    margin:30px auto;
}
.footer h2{
    font-size: 50px;
}
.social i{
    width:45px;
    height:45px;
    font-size: 50px;
    text-align: center;
    color:white;
    margin:25px
}
.footer ul{
    margin-top: 0;
    padding:0;
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-family: cursive;
}
.footer ul li a{
color:orangered;
border-bottom: 3px solid orangered;
transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
    color: white;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top:15px;
    text-align: center;
    font-size: 25px;
    color:white;
}
.Education .qualification{
    height:400px;
    width:700px;
    background:black ;
    border-radius:20px ;
    margin:20px;
    position: relative;
    overflow: hidden;
    border:2px solid white;
    display: inline-block;
}
.higher{
    font-size: 25px;
    margin-top: 30px;
 }
.higher h3{
        margin-top: 1rem;
}
.recent{
        font-size: 25px;
        margin-top: 30px;
}
.recent h3{
    margin-top: 1rem;
}
